/* General stle header */

.header {
  display: block;
  background-color: #001233;
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

/* header button style  */
.header-buttons {
  display: block;
  float: left;
  height: 100%;
  width: 120px;
  color: #ffffff;
  border: none;
  background-color: #001233;
}

/* Style "DevWars" text in header */
.header-title {
  display: block;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  padding-top: 22px;
  padding-left: 43%;
  color: white;
  font-family: 'TitleFont', Arial, sans-serif;
}

/*Diseño del Footer*/
.footer {
  background-color: #001233;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-line {
  margin-bottom: 10px;
}

.footer-line a {
  color: #fff;
  text-decoration: none;
}

/*Page selector*/
.square {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  border: 5px solid black;
}

.button-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  border: none;
  background: none;
}

.button-container button img {
  width: 70px; 
  height: 70px;
}

.button-start-container{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.button-start{
  align-items: center;
  height: 60px;
  width: 120px;
  color: #ffffff;
  border: none;
  background-color: #001233;
  position: absolute;
}

button.selected-button {
  background-color: gray;
}
/*error*/
.error{
  text-align: center;
  color: red;
  padding-top: 20px;
}
/*view of the game*/

.buttonGame-container {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 30%;
  gap: 0;
}

.buttonGame {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  background-color: #eaeaea;
  font-size: 16px;
  cursor: pointer;
}
.image-container {
  position: absolute;
  width: 50%;
  height: 50%;
  max-width: 120px;
  max-height: 150px;
  padding-bottom: 150px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}
.bottom-left-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-right-image {
  position: absolute;
  top: 0;
  right: 0;
}

.hp-text {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.bottom-left-image img,
.top-right-image img {
  max-width: 120px;
  max-height: 120px;
}
.showEnemyAttack{
  font-size: 14px;
  padding-left: 400px;
  position: absolute;
}

/*Winner*/

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 24px;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

/*FONTS*/
@font-face {
  font-family: 'TitleFont';
  src: url('fonts/SuperMario256.ttf') format('truetype');
}